{{#if pageData}}
<div class="hero {{#unless (ifeq page 'home')}}hero-sm{{/unless}}" 
     style="background-image: url('{{pageData.hero_image}}');">
  <div class="container">
    <h1 class="display-3">{{pageData.hero_title}}</h1>
    <p class="lead">{{pageData.hero_subtitle}}</p>
    {{#if (ifeq page 'home')}}
        <a class="btn btn-primary btn-lg" href="/services" role="button">Browse All Services</a>
    {{/if}}
  </div>
</div>
{{else if page}}
{{!-- This is the original code, now a fallback for pages that don't pass pageData --}}
<div class="hero {{#unless (ifeq page 'home')}}hero-sm{{/unless}}" 
     style="background-image: url('{{lookup siteContent (concat page '_hero_image')}}');">
  <div class="container">
    <h1 class="display-3">{{lookup siteContent (concat page '_hero_title')}}</h1>
    <p class="lead">{{lookup siteContent (concat page '_hero_subtitle')}}</p>
    {{#if (ifeq page 'home')}}
        <a class="btn btn-primary btn-lg" href="/services" role="button">Browse All Services</a>
    {{/if}}
  </div>
</div>
{{/if}}